<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.1" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.4" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" />
  <package id="System.IO.Ports" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.5" />
  <package id="TouchSocket" version="3.1.2" />
  <package id="TouchSocket.Core" version="3.1.2" />
  <package id="TouchSocket.Core.DependencyInjection" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocket.Dmtp" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocket.Hosting" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocket.Http" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocket.JsonRpc" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocket.Modbus" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocket.NamedPipe" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocket.Rpc" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocket.SerialPorts" version="3.1.2" />
  <package id="TouchSocket.WebApi" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocket.WebApi.Swagger" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocket.XmlRpc" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocketPro" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocketPro.Dmtp" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocketPro.Hosting" version="3.1.2" manuallyInstalled="true" />
  <package id="TouchSocketPro.Modbus" version="3.1.2" manuallyInstalled="true" />
  <package id="runtime.linux-arm.runtime.native.System.IO.Ports" version="8.0.0" />
  <package id="runtime.linux-arm64.runtime.native.System.IO.Ports" version="8.0.0" />
  <package id="runtime.linux-x64.runtime.native.System.IO.Ports" version="8.0.0" />
  <package id="runtime.native.System.IO.Ports" version="8.0.0" />
  <package id="runtime.osx-arm64.runtime.native.System.IO.Ports" version="8.0.0" />
  <package id="runtime.osx-x64.runtime.native.System.IO.Ports" version="8.0.0" />
</packages>